// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/about/about";

@import "../pages/contact/contact";

@import "../pages/home/home";

@import "../pages/details-pet/details-pet";


ion-nav ion-page.show-page {
  visibility: hidden;
  display:none;
}
ion-nav ion-page.show-page:last-of-type {
  visibility: visible;
  display: block;
}
ion-page.show-page ion-tab {
  visibility: hidden;
  display:none;
}
ion-page.show-page ion-tab.show-tab {
  visibility: visible;
  display: block;
}