
    .myHide  ion-tabbar.show-tabbar{
        visibility: hidden !important;
        display:none !important;
    }

    .myHide  .show-tab{
        visibility: hidden !important;
        display:none !important;
        }
    

